tqdm
numpy~=2.4.4
torch~=2.11.0
opencv-python~=4.13.0.92
torchrl~=0.11.1
setuptools<82
Cython~=3.2.4
PyYAML~=6.0.2
matplotlib~=3.10.3
gymnasium[mujoco]~=1.2.0
scipy~=1.17.1
six~=1.17.0
pyrr~=0.10.3
robosuite~=1.5.1
gymnasium[classic_control]
h5py~=3.14.0
gymnasium-robotics~=1.4.1
kornia~=0.8.1
tensorboard~=2.20.0
tensorflow[and-cuda]
numba~=0.65.0